<launch>
     <rosparam file="$(find romi_soccer)/config/diffdrive.yaml"
               command="load"/>
     <param
          name = "robot_description"
          textfile = "$(find romi_soccer)/models/romi/romi.urdf"/>
     <group ns="romi_pink">
          <!-- <param name="tf_prefix" value="romi_pink_tf" /> -->
          <include file="$(find romi_soccer)/launch/one_romi.launch">
               <arg name="init_pose" value="-x 1 -y 1 -z 0"/>
               <arg name="robot_name" value="romi_pink"/>
               <arg name="team" value="red"/>
               <arg name="shape" value="circle"/>
          </include>
     </group>
</launch>
