<launch>
     <arg name='~subj_team'/>
     <arg name='~subj_shape'/>
     <!-- Same team, different shape -->
     <include file="$(find romi_soccer)/launch/romi_fake_sensor.launch">
          <arg name="number" value="0"/>
          <arg name="obj_team" value="$(arg subj_team)"/>
          <arg name="obj_shape" value="square" if="$(eval subj_shape == 'circle')"/>
          <arg name="obj_shape" value="circle" if="$(eval subj_shape == 'square')"/>
          <arg name="obj_shape" value="circle" if="$(eval subj_shape == 'triangle')"/>
          <arg name="subject" value="$(arg subj_team)_$(arg subj_shape)"/>
     </include>
     <!-- Same team, different shape -->
     <include file="$(find romi_soccer)/launch/romi_fake_sensor.launch">
          <arg name="number" value="1"/>
          <arg name="obj_team" value="$(arg subj_team)"/>
          <arg name="obj_shape" value="triangle" if="$(eval subj_shape == 'circle')"/>
          <arg name="obj_shape" value="triangle" if="$(eval subj_shape == 'square')"/>
          <arg name="obj_shape" value="square" if="$(eval subj_shape == 'triangle')"/>
          <arg name="subject" value="$(arg subj_team)_$(arg subj_shape)"/>
     </include>
     <!-- Different team, same shape -->
     <include file="$(find romi_soccer)/launch/romi_fake_sensor.launch">
          <arg name="number" value="2"/>
          <arg name="obj_team" value="red" if="$(eval subj_team == 'blue')"/>
          <arg name="obj_team" value="blue" if="$(eval subj_team == 'red')"/>
          <arg name="obj_shape" value="$(arg subj_shape)"/>
          <arg name="subject" value="$(arg subj_team)_$(arg subj_shape)"/>
     </include>
     <!-- Different team, different shape -->
     <include file="$(find romi_soccer)/launch/romi_fake_sensor.launch">
          <arg name="number" value="3"/>
          <arg name="obj_team" value="red" if="$(eval subj_team == 'blue')"/>
          <arg name="obj_team" value="blue" if="$(eval subj_team == 'red')"/>
          <arg name="obj_shape" value="triangle" if="$(eval subj_shape == 'circle')"/>
          <arg name="obj_shape" value="triangle" if="$(eval subj_shape == 'square')"/>
          <arg name="obj_shape" value="square" if="$(eval subj_shape == 'triangle')"/>
          <arg name="subject" value="$(arg subj_team)_$(arg subj_shape)"/>
     </include>
     <!-- Different team, different shape -->
     <include file="$(find romi_soccer)/launch/romi_fake_sensor.launch">
          <arg name="number" value="4"/>
          <arg name="obj_team" value="red" if="$(eval subj_team == 'blue')"/>
          <arg name="obj_team" value="blue" if="$(eval subj_team == 'red')"/>
          <arg name="obj_shape" value="square" if="$(eval subj_shape == 'circle')"/>
          <arg name="obj_shape" value="circle" if="$(eval subj_shape == 'square')"/>
          <arg name="obj_shape" value="circle" if="$(eval subj_shape == 'triangle')"/>
          <arg name="subject" value="$(arg subj_team)_$(arg subj_shape)"/>
     </include>
     <!-- Ball -->
     <include file="$(find romi_soccer)/launch/other_fake_sensor.launch">
          <arg name="number" value="5"/>
          <arg name="subject" value="$(arg subj_team)_$(arg subj_shape)"/>
     </include>
</launch>
