<launch>
     <arg name   = "robot_name"/>
     <arg name   = "init_pose"/>

     <rosparam file="$(find romi_soccer)/config/diffdrive.yaml"
               command="load"
               ns = "/$(arg robot_name)"/>     
     <node
          name   = "spawn_urdf"
          pkg    = "gazebo_ros"
          type   = "spawn_model"
          args   = "-param /robot_description -urdf $(arg init_pose) -model $(arg robot_name)"
     />

     <node
          pkg    = "robot_state_publisher"
          type   = "state_publisher"
          name   = "rob_st_pub" >
             <remap
                  from = "robot_description"
                  to   = "$(arg robot_name)" />
             <remap
                  from = "joint_states"
                  to   = "$(arg robot_name)/joint_states" />
    </node>

     <node
          name   = "controller_node"
          pkg    = "controller_manager"
          type   = "spawner"
          args   = "--namespace=/$(arg robot_name)
                    romi_controller"
     />

     <node
          name   = "rqt_robot_steering"
          pkg    = "rqt_robot_steering"
          type   = "rqt_robot_steering">
     <param
          name   = "default_topic"
          value  = "/$(arg robot_name)/romi_controller/cmd_vel"/>
     </node>

</launch>
