<launch>
     <arg name   = "robot_name"/>
     <arg name   = "init_pose"/>

     <node
          name   = "spawn_urdf"
          pkg    = "gazebo_ros"
          type   = "spawn_model"
          args   = "-param /robot_description -urdf $(arg init_pose) -model $(arg robot_name)"
     />

     <node
          name   = "robot_state_publisher"
          pkg    = "robot_state_publisher"
          type   = "state_publisher"
          output = "screen"
          />

     <node
          name   = "controller_node"
          pkg    = "controller_manager"
          type   = "spawner"
          args   = "romi_controller"
     />

     <node
          name   = "rqt_robot_steering"
          pkg    = "rqt_robot_steering"
          type   = "rqt_robot_steering">
     <param
          name   = "default_topic"
          value  = "/cmd_vel"/>
     </node>

</launch>
