<launch>
     <arg name = "paused" value = "true"/>
     <arg name = "use_sim_time" value = "true"/>
     <arg name = "home_team" value = "red"/>
     <arg name = "visiting_team" value = "blue"/>
     <arg name = "romi_circle"/>
     <arg name = "romi_square"/>
     <arg name = "romi_triangle"/>

     <include file="$(find romi_soccer)/launch/team_tracker.launch">
          <arg name="home_team" value="$(arg home_team)"/>
          <arg name="visiting_team" value="$(arg visiting_team)"/>
          <arg name="romi_circle" value="$(arg romi_circle)"/>
          <arg name="romi_square" value="$(arg romi_square)"/>
          <arg name="romi_triangle" value="$(arg romi_triangle)"/>
     </include>

     <include file="$(find romi_soccer)/launch/three_romi.launch">
          <arg name="team" value="$(arg home_team)"/>
          <arg name="romi_circle" value="$(arg romi_circle)"/>
          <arg name="romi_square" value="$(arg romi_square)"/>
          <arg name="romi_triangle" value="$(arg romi_triangle)"/>
     </include>

     <node
          name="homography_node"
          pkg="romi_soccer"
          type="homography_calibrater.py"/>

     <node
          name="corner_tracker"
          pkg="romi_soccer"
          type="json_corner_grabber.py"/>
</launch>
