<launch>
     <include file="$(find romi_soccer)/launch/tracker.launch">
          <arg name="team" value="red"/>
          <arg name="shape" value="circle"/>
     </include>

     <include file="$(find romi_soccer)/launch/tracker.launch">
          <arg name="team" value="red"/>
          <arg name="shape" value="square"/>
     </include>

     <include file="$(find romi_soccer)/launch/tracker.launch">
          <arg name="team" value="red"/>
          <arg name="shape" value="triangle"/>
     </include>

     <include file="$(find romi_soccer)/launch/tracker.launch">
          <arg name="team" value="blue"/>
          <arg name="shape" value="circle"/>
     </include>

     <include file="$(find romi_soccer)/launch/tracker.launch">
          <arg name="team" value="blue"/>
          <arg name="shape" value="square"/>
     </include>

     <include file="$(find romi_soccer)/launch/tracker.launch">
          <arg name="team" value="blue"/>
          <arg name="shape" value="triangle"/>
     </include>
</launch>
