<launch>
     <arg name='number'/>
     <arg name='subject'/>
     <arg name='object'/>
     <arg name='subject_robot'/>
     <param
          name = "~number"
          value = "$(arg number)"
     />
     <param
          name = "~object"
          value = "$(arg object)"
     />
     <param
          name = "~subject"
          value = "$(arg subject)"
     />
     <param
          name = "~subject_robot"
          value = "$(arg subject_robot)"
     />
     <node
          name="fake_sensor_$(arg number)"
          pkg="romi_soccer"
          type="finder"
     />
</launch>
