<launch>
     <arg name="romi_circle"/>
     <arg name="romi_square"/>
     <arg name="romi_triangle"/>

     <!-- Romi Circle Sensor Frames -->
     <node
          name="$(arg romi_circle)_sensor_tf"
          pkg="tf2_ros"
          type="static_transform_publisher"
          args="0 0 0 0 0 0 1 base_link_$(arg romi_circle) sensor_frame_$(arg romi_circle)" />
     <!-- Romi Square Sensor Frames -->
     <node
          name="$(arg romi_square)_sensor_tf"
          pkg="tf2_ros"
          type="static_transform_publisher"
          args="0 0 0 0 0 0 1 base_link_$(arg romi_square) sensor_frame_$(arg romi_square)" />

     <!-- Romi Triangle Sensor Frames -->
     <node
          name="$(arg romi_triangle)_sensor_tf"
          pkg="tf2_ros"
          type="static_transform_publisher"
          args="0 0 0 0 0 0 1 base_link_$(arg romi_triangle) sensor_frame_$(arg romi_triangle)" />

</launch>
