<?xml version="1.0"?>

<model>
  <name>Pololu Romi (Red)</name>
  <version>1.0</version>
  <sdf version="1.5">romi_red.urdf</sdf>

  <author>
    <name>Rice</name>
    <email>rice.rodriguez@ttu.edu</email>
  </author>

  <description>
    A model of the red Romi chassis kit by Pololu.
  </description>

</model>
