<?xml version="1.0"?>

<model>
  <name>Pololu Romi (White)</name>
  <version>1.0</version>
  <sdf version="1.5">romi_white.urdf</sdf>

  <author>
    <name>Rice</name>
    <email>rice.rodriguez@ttu.edu</email>
  </author>

  <description>
    A model of the white Romi chassis kit by Pololu.
  </description>

</model>
